<%= form_for @movie do |form| %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :movie_title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :movie_description %>
  </div>

  <div class="field">
    <%= form.label :duration %>
    <%= form.number_field :duration, id: :movie_duration %>
  </div>

  <div class="field">
    <%= form.label :Director %>
    <%=select_tag 'directors', options_from_collection_for_select(Director.all, 'first_name', 'last_name') %>

  </div>

  <div class="field">
    <%= form.label :release_date %>
    <%= form.datetime_select :release_date, id: :movie_release_date %>
  </div>

  <div class="field">
    <%= form.fields_for :addresses do |f| %>
    <div class="field">
    <%= f.label :street %>
    <%= f.text_field :street %>
  </div>
 <div class="field">
    <%= f.label :apartment %>
    <%= f.check_box :apartment %>
  </div>
 <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
 <div class="field">
    <%= f.label :zipcode %>
    <%= f.text_field :zipcode %>
  </div>
    
  </div>
  <% end %>

  <div class="field">
    <%= form.label :Actors %>
    <%=select_tag 'actors', options_from_collection_for_select(Actor.all, 'first_name', 'last_name') %>

  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
